<mat-list role="list">
    <div class="profile">
        <img src="https://logodix.com/logo/1707081.png" alt="app-logo">
        <div>
            <h2>Admin</h2>
            <h4>Admin@sahara.com</h4>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h2>pages</h2>
   <div class="pages">
    <a routerLink="">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employees">Employees</a>
   </div>
   <mat-divider></mat-divider>
   <h2>Tools</h2>
  <div class="pages">
   <a routerLink="Contacts"> <mat-icon>import_contacts</mat-icon>Contacts</a>
   <a routerLink="Leads"> <mat-icon>contact_phone</mat-icon>Leads</a>
  </div>
 </mat-list>