.card{
    width: 200px;
    height: 100px;
    color: white;
}

.card .icon{
    font-size: 50px;
    height: fit-content;
    width: fit-content;
}

.contents h3 {
    font-weight: 600;
}

/* attribute directive ngClass */
.orange{
    background-color: orange;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}
.blue{
    background-color: blue;
}